.button-container {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    justify-content: right; /* Center the buttons vertically */
    align-items: flex-end; /* Align the buttons to the right */
    position: absolute;
    width: 900px;
    right: -140px; /* Vertical control : -- down ++ up*/
    bottom: 95%; /* Horizontal control : -- left ++ right*/
}


#confirm-button,
#final-confirm-button{
    width: 160px; 
    height: 20px;
    position:absolute;
    right:0px; /* Vertical control : -- down ++ up*/
    bottom:10%; /* Horizontal control : -- left ++ right*/    
    transform: rotate(-90deg); 
}

#cancel-button {
  width: 160px; 
  height: 20px;
  position:absolute;
  right:-30px; /* Vertical control : -- down ++ up*/
  bottom:10%; /* Horizontal control : -- left ++ right*/    
  transform: rotate(-90deg); 
}

#final-confirm-button,
#cancel-button {
  display: none;
}