<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="/favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap"
		rel="stylesheet">


	<link rel="stylesheet" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" href="/fonts/feather/style.css">

	<link rel="stylesheet" href="/css/tiny-slider.css">
	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/glightbox.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/concertstyle.css">

	<title>TTTicket &mdash; Concert 3</title>
</head>

<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/../../index" class="logo m-0">TTTicket</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li class="active"><a href="/../../index">Home</a></li>
					<li class="has-children">
						<a href="#">Dropdown</a>
						<ul class="dropdown">
							<li><a href="#">Menu One</a></li>
							<li class="has-children">
								<a href="#">Menu Two</a>
								<ul class="dropdown">
									<li><a href="#">Sub Menu One</a></li>
									<li><a href="#">Sub Menu Two</a></li>
									<li><a href="#">Sub Menu Three</a></li>
								</ul>
							</li>
							<li><a href="#">Menu Three</a></li>
						</ul>
					</li>
					<li><a href="/../../services">Services</a></li>
					<li><a href="/../../marketplace">Marketplace</a></li>
					<li><a href="/user/2/purchasedtickets">My Tickets</a></li>
					<li><a href="/user/2/shoppingcart">Shopping Cart</a></li>
					<li><a href="/../../login">Login/Signup</a></li>
				</ul>

				<a href="#"
					class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light"
					data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

	<div class="header">
	</div>


	<!-- <div class="hero v-h-full overlay"> -->
		<div class="img">
			<center><img src="/images/Concert3_Main.jpg" alt="Image" class="img-fluid"><center>
		</div>

	<!-- <div class="container">
			<div class="row align-items-center v-h-full">

				<div class="col-lg-7 col-xxl-6 mx-auto text-center">
					<h1 class="heading-2 text-white mb-3" data-aos="fade-up">Shopping Cart</h1>
					<p data-aos="fade-up" data-aos-delay="200" class="text-white lead mb-4"><br/>Shopping Cart is currently empty.</p>
					<p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary-outline white me-4">Browse Tickets</a></p>
				</div>

			</div>
		</div> -->

	</div>

	<div class="box" style="background:black">
		<br>
		<p class="heading-2 text-white mb-5">Event Details</p>
	</div>
	<div>
		<div style="float:left ; margin:30px">
			<img src="concert_posters/BTS_Concert_Poster.jpg" alt="Image" class="img-fluid" width="300" height="600"
				float="left">
		</div>
		<span style="color:black">
			<br><br><br><br><br><br><br><br>
			<b>BTS World Tour : Love Yourself</b> is the third worldwide concert tour headlined by the South Korean boy band
			BTS to promote their <b>Love Yourself series, Love Yourself 'Her',
			Love Yourself 'Tear' and Love Yourself 'Answer'</b>. The tour will begin on <b>August 25, 2024</b>, in South Korea and is set
			to visit 12 countries thus far, including Japan, United States,
			Canada, United Kingdom, France, Netherlands, Germany, Taiwan, Hong Kong, Singapore, Brazil, and Thailand.
			<br><br><br><br><br><br><br><br><br><br>
		</span>
	</div>

	<div class="box" style="background:black">
		<br>
		<p class="heading-2 text-white mb-5">Ticket Pricing</p>
	</div>
	<div>
		<div style="color:black ; float:right ; margin: 50px ; font-family:Roboto ; font-size:medium;">
			<label for="date"><b>Select date:<br> (2024.08.25 to 2024.09.07)<br></b>
				<input style="background: greenyellow" type="date" id="date" max="2024-09-07" min="2024-08-25" value="2024-08-25">
			</label>
			<p><a href="/../concerts/3/sectorLayout" class="btn btn-black">BUY TICKETS HERE</a></p>
		</div>
		<pre style="color:black ; float:center ; margin: 30px ; font-family:Roboto ; font-size:medium;">
			<b>STANDARD</b>
				CAT 1: $348
				CAT 2: $328
				CAT 3: $288
				CAT 4: $248
				CAT 5: $168
				CAT 6: $108
				CAT 7: $248 <b>(Side View)</b>
				CAT 8: $108 <b>(Side View)</b>
				CAT 9: $88 <b>(Restricted View)</b>
			<br>
			Limited to only <b>4 tickets per account</b>.
			<br>
			Ticket Pricing <b>excludes Booking Fee</b>. Booking Fee is as follows:
				$20 booking fee per ticket for tickets priced above $500
				$10 booking fee per ticket for tickets between $301 and $500
				$6 booking fee per ticket for tickets between $1 and $300
		</pre>
	</div>

	<div class="box" style="background:black">
		<br>
		<p class="heading-2 text-white mb-5">Terms and Conditions</p>
	</div>
	<div>
		<pre style="color:black ; float:center ; margin: 30px ; font-family:Roboto ; font-size:medium;">
			<b>Terms and Conditions:</b>
				1. All tickets will be released 2 weeks before the concert date.
				2. Your ticket purchase constitutes a personal, revocable license and, at all times, remains the property of
				the event organizer.
				3. When arriving in groups, each ticket holder must be in possession of their individual ticket.
				4. Your ticket(s) are sold by the event organizer directly to you the consumer. Any tickets purchased by
				businesses or traders in breach of the terms and conditions of ticket sale may be cancelled. By accepting
				these terms and conditions you confirm that you are a consumer.
				5. By sole decision of the Promoter/Ticketing Agent, your ticket(s) will IMMEDIATELY BECOME INVALID if
				resold OR OFFERED FOR SALE. Tickets sold via third parties and other unauthorized outlets, including but not
				limited to online auction sites, will not be valid for admission. The resale of a ticket renders it invalid
				and may lead to refusal of entry.
				6. Ticket sales are limited to a maximum of (four) 4 per account.
				7. Only tickets purchased through approved ticket agents are valid for admission. The venue reserves the
				right to refuse admission. No exchange and/ or refunds will be allowed once tickets are transacted.
				8. You can register interest for the general on-sales from Friday, June 23 at 12PM (SGT) through Wednesday,
				June 28 at 12PM (SGT). You will receive a confirmation email after submission of your registration. Do note
				that this confirmation email does not constitute a confirmation to purchase. Make sure to check your
				Junk/Spam folder if you do not receive.
				9. Registered fans selected will receive an email on July 5 with more information on how to access onsale
				tickets on general sales, including a unique access code that will only allow fans to purchase up to maximum
				of (four) 4 tickets per code. Make sure to check your Junk/Spam folder as well. Only access code holders
				will have the opportunity to purchase tickets for General On-Sale starting at 12PM on July 7 (SGT).
				10. Please note that receiving a confirmed registration and/or an access code does not guarantee tickets.
				Ticket availability is limited. Tickets are sold on a first-come, first-served basis while currently
				available inventory lasts.
			<br>
			<b>Admission Rules:</b>
				Admission to show/venue by full ticket only. Printed/electronic tickets must be produced for admission.
				There will be no admission for infants in arms and children below 3 years old.
				Individuals aged 3 years old and above will be required to purchase a ticket for admission.
				No professional photo or video cameras allowed.
				STRICTLY No Social Media Live Streaming is allowed.
				No outside food and beverage are allowed into the venue.
		</pre>
	</div>

			<div class="section">
				<div class="container">
					<div class="row">
						<!-- <div class="col-6 col-lg-6 mt-5" data-aos="fade-up" data-aos-delay="100">
							<img src="/concert_posters/BTS_Concert_Poster.jpg" alt="Image" class="img-fluid rounded">
						</div>
						<div class="col-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
							<img src="/concert_posters/Coldplay_Concert_Poster.jpg" alt="Image" class="img-fluid rounded"> -->

							
						<div class="col-lg-4 pe-lg-5" data-aos="fade-up">
							<span class="subheading d-inline-block mb-2">TTTicket</span>
							<h2 class="mb-4">Expressing Diversity through Concerts</h2>
							<p class="mb-5">We organize and hold concerts of various genres from different countries,
								providing the opportunity to experience cultural diversity.</p>
							<p><a href="concerts.html" class="btn btn-black">Interested in other Concerts?</a></p>
						</div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-6 col-lg-6 mt-5" data-aos="fade-up" data-aos-delay="100">
									<img src="concert_posters/Taylor_Swift_Concert_Poster.jpg" alt="Image"
										class="img-fluid rounded">
								</div>
								<div class="col-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
									<img src="concert_posters/Coldplay_Concert_Poster.jpg" alt="Image"
										class="img-fluid rounded">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="widget">
								<h3>Contact</h3>
								<address>43 Raymouth Rd. Baltemoer, London 3910</address>
								<ul class="list-unstyled links">
									<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
									<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
									<li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
								</ul>
							</div> <!-- /.widget -->
						</div> <!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="widget">
								<h3>Sources</h3>
								<ul class="list-unstyled float-start links">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Vision</a></li>
									<li><a href="#">Mission</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy</a></li>
								</ul>
								<ul class="list-unstyled float-start links">
									<li><a href="#">Partners</a></li>
									<li><a href="#">Business</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Creative</a></li>
								</ul>
							</div> <!-- /.widget -->
						</div> <!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="widget">
								<h3>Links</h3>
								<ul class="list-unstyled links">
									<li><a href="#">Our Vision</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>

								<ul class="list-unstyled social">
									<li><a href="#"><span class="icon-instagram"></span></a></li>
									<li><a href="#"><span class="icon-twitter"></span></a></li>
									<li><a href="#"><span class="icon-facebook"></span></a></li>
									<li><a href="#"><span class="icon-linkedin"></span></a></li>
									<li><a href="#"><span class="icon-pinterest"></span></a></li>
									<li><a href="#"><span class="icon-dribbble"></span></a></li>
								</ul>
							</div> <!-- /.widget -->
						</div> <!-- /.col-lg-4 -->
					</div> <!-- /.row -->

					<div class="row mt-5">
						<div class="col-12 text-center">
							<p class="mb-0">Copyright &copy;
								<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
								Designed with love by <a href="https://untree.co">Untree.co</a>
								<!-- License information: https://untree.co/license/ -->
							</p>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.site-footer -->


			<!-- Preloader -->
			<div id="overlayer"></div>
			<div class="loader">
				<div class="spinner-border" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>


	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/tiny-slider.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/glightbox.min.js"></script>
	<script src="/js/rellax.min.js"></script>
	<script src="/js/custom.js"></script>
</body>

</html>