<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <body style="background-color:black;">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" type="text/css" href="/fonts/feather/style.css">

	<link rel="stylesheet" type="text/css" href="/css/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="/css/aos.css">
	<link rel="stylesheet" type="text/css" href="/css/glightbox.min.css">
	<link rel="stylesheet" type="text/css" href="/css/sector-related/style-shortened.css">
    <link rel="stylesheet" type="text/css" href="/css/sector-related/sectorImageSizing3.css">
	<title>TTTicket &mdash; Select Sector</title>
</head>
<body>

    <!-- Nav Bar for Mobile -->
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

    <!-- Nav Bar -->
	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/../../index" class="logo m-0">TTTicket</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li><a href="/../../../index">Home</a></li>
					<li class="active"><a href="/concerts">All Concerts</a></li>
					<li><a href="/marketplace">Marketplace</a></li>

					<li th:unless="${username}"><a href="login">My Tickets</a></li>
					<li th:unless="${username}"><a href="login">Shopping Cart</a></li>

					<li th:if="${username}"><a id="myTicketsLink" href="#">My Tickets</a></li>
					<li th:if="${username}"><a id="shoppingCartLink" href="#">Shopping Cart</a></li>

					<li th:unless="${username}"><a href="login">Login/Signup</a></li>
					<li th:if="${username}" class="has-children">
						<a><span>Welcome, <strong th:text="${username}"></strong></span></a>
						<ul class="dropdown">
							<li><a href="#">Account Details</a></li>
							<li><a href="logout">Logout</a></li>
						</ul>
					</li>
				</ul>

				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!-- Maphighlight Script -->
<script type="text/javascript" src="/js/sector-related/jquery.maphilight.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/davidjbradshaw/imagemap-resizer/master/js/imageMapResizer.min.js"></script>

<div class="tooltip-container">
    <div class="tooltip"></div>
</div>

<body>
    <div class="center-container">
        <img th:src="@{/seating_plan/BTS_Seating_Plan.png}" id="image" usemap="#image-map" class="maparea" height="100%">
    </div>
    <!-- sectors are grouped by their proximity. if they
    are closely next to each other, they are in the same group.
    group layout here: todo -->
    <map name="image-map" id="image-map">
        <!-- Group 1: Sectors Coloured -->
        <area target="" th:alt="${sectorPurple_1status}" title="sectorPurple_1" href="/concerts/3/sectorLayout/selectSeat/Purple_1" coords="420,459,341,488,274,540,275,550,393,612,457,568,491,510,486,498" shape="poly">
        <area target="" alt="sectorpurple2" title="sectorpurple2" href="" coords="457,432,526,475,618,448,679,403,676,390,558,325,491,370" shape="poly">
        <area target="" alt="sectorblue1" title="sectorblue1" href="" coords="254,576,288,572,346,600,351,690,207,789,108,736" shape="poly">
        <area target="" alt="sectorred1" title="sectorred1" href="" coords="414,674,258,788,258,796,319,816,380,820,419,819,450,815,486,808,525,795,553,787,574,776,566,762" shape="poly">
        <area target="" alt="sectoryellow1" title="sectoryellow1" href="" coords="407,609,408,624,542,694,662,608,660,594,566,540,460,568" shape="poly">
        <area target="" alt="sectoryellow2" title="sectoryellow2" href="" coords="615,505,617,520,698,562,699,550,745,518,772,534,838,489,835,474,703,400,646,439" shape="poly">
        <area target="" alt="sectorblue2" title="sectorblue2" href="" coords="615,309,617,344,672,374,792,374,927,278,926,262,827,208" shape="poly">
        <area target="" alt="sectorred2" title="sectorred2" href="" coords="810,400,810,418,979,501,1013,445,1025,410,1026,387,1024,362,1017,335,1003,315,991,298,973,285" shape="poly">
        <area target="" alt="sectororange1" title="sectororange1" href="" coords="677,661,694,659,734,629,783,661,786,673,620,787,561,752,561,740" shape="poly">
        <area target="" alt="sectororange2" title="sectororange2" href="" coords="768,607,768,620,820,648,984,534,977,516,920,488,808,567,809,578" shape="poly">

        <!-- Group 2: Sectors 101-125 -->
        <area target="" alt="sector101" title="sector101" href="" coords="191,840,136,878,136,893,192,918,284,816,258,804,201,847" shape="poly">
        <area target="" alt="sector102" title="sector102" href="" coords="191,921,249,935,314,825,284,817" shape="poly">
        <area target="" alt="sector103" title="sector103" href="" coords="249,935,311,948,354,835,314,826" shape="poly">
        <area target="" alt="sector104" title="sector104" href="" coords="315,944,379,950,410,837,355,835" shape="poly">
        <area target="" alt="sector105" title="sector105" href="" coords="384,947,452,945,454,834,411,837" shape="poly">
        <area target="" alt="sector106" title="sector106" href="" coords="456,944,521,935,501,826,455,835" shape="poly">
        <area target="" alt="sector107A" title="sector107A" href="" coords="525,940,560,931,522,821,503,829" shape="poly">
        <area target="" alt="sector107B" title="sector107B" href="" coords="589,925,549,826,552,816,576,811,626,904,626,917" shape="poly">
        <area target="" alt="sector109" title="sector109" href="" coords="601,803,601,818,672,899,732,873,646,782" shape="poly">
        <area target="" alt="sector110" title="sector110" href="" coords="646,780,730,872,804,831,704,751" shape="poly">
        <area target="" alt="sector111" title="sector111" href="" coords="804,833,874,793,761,718,706,753" shape="poly">
        <area target="" th:alt="${sector112status}" title="sector112" href="/concerts/3/sectorLayout/selectSeat/112" coords="874,793,933,754,931,741,823,676,760,715" shape="poly">
        <area target="" alt="sector114" title="sector114" href="" coords="993,707,993,693,880,635,932,597,1052,653,1055,666" shape="poly">
        <area target="" alt="sector115" title="sector115" href="" coords="1056,663,1055,650,935,596,982,556,1107,604,1112,619" shape="poly">
        <area target="" alt="sector116" title="sector116" href="" coords="1112,615,1108,601,982,553,1025,516,1161,557,1165,568" shape="poly">
        <area target="" alt="sector117" title="sector117" href="" coords="1158,557,1167,568,1196,531,1194,516,1056,482,1025,515" shape="poly">
        <area target="" alt="sector119A" title="sector119A" href="" coords="1215,494,1065,472,1068,447,1224,460,1229,472" shape="poly">
        <area target="" alt="sector119B" title="sector119B" href="" coords="1232,445,1078,437,1076,424,1081,403,1236,407,1241,421" shape="poly">
        <area target="" alt="sector120" title="sector120" href="" coords="1241,418,1235,405,1082,402,1081,383,1246,375" shape="poly">
        <area target="" alt="sector121" title="sector121" href="" coords="1245,372,1081,380,1078,355,1236,327" shape="poly">
        <area target="" alt="sector122" title="sector122" href="" coords="1078,352,1069,332,1228,288,1236,323" shape="poly">
        <area target="" alt="sector123" title="sector123" href="" coords="1057,314,1202,256,1223,287,1065,332" shape="poly">
        <area target="" alt="sector124" title="sector124" href="" coords="1055,313,1034,293,1169,224,1200,255" shape="poly">
        <area target="" alt="sector125" title="sector125" href="" coords="1113,185,1096,196,1098,209,1107,216,1021,275,1021,289,1034,299,1167,222" shape="poly">

        <!-- Group 3: Sectors 405-426-->
        <area target="" alt="sector405" title="sector405" href="" coords="397,964,385,1009,388,1019,460,1018,457,963" shape="poly">
        <area target="" alt="sector406" title="sector406" href="" coords="464,961,464,1016,548,1007,535,950" shape="poly">
        <area target="" alt="sector407" title="sector407" href="" coords="542,954,552,1007,636,990,611,933" shape="poly">
        <area target="" alt="sector408" title="sector408" href="" coords="615,933,636,986,715,960,679,911" shape="poly">
        <area target="" alt="sector409" title="sector409" href="" coords="681,912,719,959,794,925,752,882" shape="poly">
        <area target="" alt="sector410" title="sector410" href="" coords="796,922,751,880,820,840,870,882" shape="poly">
        <area target="" alt="sector411" title="sector411" href="" coords="870,882,827,841,895,801,936,832,940,844" shape="poly">
        <area target="" alt="sector412" title="sector412" href="" coords="944,840,896,798,955,758,1001,788,1008,802" shape="poly">
        <area target="" alt="sector413" title="sector413" href="" coords="1008,796,960,757,1019,713,1070,739,1073,752" shape="poly">
        <area target="" alt="sector414" title="sector414" href="" coords="1074,750,1070,736,1023,714,1079,666,1132,692,1138,705" shape="poly">
        <area target="" alt="sector415" title="sector415" href="" coords="1135,688,1086,666,1139,616,1189,640,1196,653,1140,701" shape="poly">
        <area target="" alt="sector416" title="sector416" href="" coords="1188,638,1141,617,1191,572,1244,591,1254,604,1200,651" shape="poly">
        <area target="" alt="sector417" title="sector417" href="" coords="1249,591,1196,571,1238,527,1302,538,1298,551,1257,602" shape="poly">
        <area target="" alt="sector418" title="sector418" href="" coords="1298,537,1237,525,1262,479,1326,489,1330,501,1303,548" shape="poly">
        <area target="" alt="sector419" title="sector419" href="" coords="1263,478,1279,432,1356,436,1332,498" shape="poly">
        <area target="" alt="sector420" title="sector420" href="" coords="1360,381,1288,386,1277,428,1355,434" shape="poly">
        <area target="" alt="sector421" title="sector421" href="" coords="1288,383,1281,338,1386,321,1401,383" shape="poly">
        <area target="" alt="sector422" title="sector422" href="" coords="1281,336,1264,294,1365,266,1390,318" shape="poly">
        <area target="" alt="sector423" title="sector423" href="" coords="1262,294,1231,256,1323,216,1366,266" shape="poly">
        <area target="" alt="sector424" title="sector424" href="" coords="1197,226,1193,212,1276,174,1326,214,1231,257" shape="poly">
        <area target="" alt="sector425" title="sector425" href="" coords="1191,219,1148,195,1194,148,1236,173,1259,159,1275,174" shape="poly">
        <area target="" alt="sector426" title="sector426" href="" coords="1188,146,1147,192,1090,172,1087,156,1143,103,1163,111,1171,125,1163,134" shape="poly">

        <!-- Group 4: Sectors 606-620-->
        <area target="" alt="sector606" title="sector606" href="" coords="496,1026,496,1062,575,1056,562,1016" shape="poly">
        <area target="" alt="sector607" title="sector607" href="" coords="571,1012,579,1052,673,1040,653,995" shape="poly">
        <area target="" alt="sector608" title="sector608" href="" coords="677,1038,662,995,735,964,769,1013" shape="poly">
        <area target="" alt="sector609" title="sector609" href="" coords="773,1010,745,969,817,928,860,969,862,983" shape="poly">
        <area target="" alt="sector610" title="sector610" href="" coords="873,981,867,966,822,932,891,890,950,933,951,947" shape="poly">
        <area target="" alt="sector611" title="sector611" href="" coords="955,941,954,933,895,889,964,845,1030,889,1037,906" shape="poly">
        <area target="" alt="sector612" title="sector612" href="" coords="1041,902,1037,890,975,847,1035,806,1108,847,1112,862" shape="poly">
        <area target="" alt="sector613" title="sector613" href="" coords="1117,858,1108,840,1039,803,1104,756,1182,796,1189,810" shape="poly">
        <area target="" alt="sector614" title="sector614" href="" coords="1189,806,1180,792,1110,755,1166,706,1245,742,1250,755" shape="poly">
        <area target="" alt="sector615" title="sector615" href="" coords="1251,752,1242,738,1176,706,1223,657,1298,684,1306,701" shape="poly">
        <area target="" alt="sector616" title="sector616" href="" coords="1306,694,1298,682,1231,655,1280,604,1344,628,1351,641" shape="poly">
        <area target="" alt="sector617" title="sector617" href="" coords="1354,636,1344,623,1288,602,1325,556,1387,569,1391,578" shape="poly">
        <area target="" alt="sector618" title="sector618" href="" coords="1392,566,1332,556,1363,496,1413,503,1418,514,1400,566" shape="poly">
        <area target="" alt="sector619" title="sector619" href="" coords="1422,504,1366,494,1383,443,1423,442,1431,450" shape="poly">
        <area target="" alt="sector620" title="sector620" href="" coords="1382,442,1386,400,1429,397,1431,441" shape="poly">
    </map>
    
</body>

<script>
    // Select all <area> elements on the page
    var areaElements = document.querySelectorAll('area');

    // Create an array to store the titles
    var sectorAvailPercentArray = [];

    // Iterate through the <area> elements and add their titles to the array
    areaElements.forEach(function(areaElement) {
        sectorAvailPercentArray.push({
            sectorName: areaElement.getAttribute('title'),
            sectorStatus: areaElement.getAttribute('alt')
        });
    });


    $(function() {
        $('.maparea').maphilight({}, sectorAvailPercentArray);
        $('#yourImageMap area').on('mouseover', function() {
            // Update options.sectorName here
            options.sectorName = $(this).attr('title');
        });
    });
    $(function() {
        $('#image-map').imageMapResize();
    });

    // Function to adjust image map coordinates
    function adjustImageMapCoordinates() {
        // Get a reference to the image element
        var image = document.getElementById('image');
    
        // Get the actual width and height of the image
        var imageWidth = image.width;
        var imageHeight = image.height;
    
        // Get all the area elements
        var areas = document.querySelectorAll('area');
    
        // Loop through each area and adjust the coordinates
        areas.forEach(function(area) {
            var coords = area.getAttribute('coords').split(',').map(Number);
    
            // Calculate the scaling factors for width and height
            var widthScale = imageWidth / image.naturalWidth;
            var heightScale = imageHeight / image.naturalHeight;
    
            // Adjust the coordinates based on the scaling factors
            for (var i = 0; i < coords.length; i += 2) {
                coords[i] = Math.round(coords[i] * widthScale);
                coords[i + 1] = Math.round(coords[i + 1] * heightScale);
            }
    
            // Set the adjusted coordinates back to the area element
            area.setAttribute('coords', coords.join(','));
        });
    }

    // Call the adjustImageMapCoordinates function when the window loads and when it resizes
    window.addEventListener('load', adjustImageMapCoordinates);
    window.addEventListener('resize', adjustImageMapCoordinates);

</script>

<script th:inline="javascript">
const sName = 'sector634';
const attributeName = sName + 'avail';
const map = /*[[${attributeMap}]]*/ 'N/A';
console.log(map[attributeName]);

    const areas = document.querySelectorAll('area');
    // Add event listeners to each area
    areas.forEach((area) => {
        area.addEventListener('mouseover', (event) => {
            const sectorName = event.target.getAttribute('title');
            const availability = parseInt(map[sectorName + 'avail']);
            // Find the corresponding attributes in the model based on sectorName
            const total = parseInt(map[sectorName + 'total']);
            const status = map[sectorName + 'status'];

            showTooltip(sectorName, availability, total, status);
        });

        area.addEventListener('mouseout', () => {
            hideTooltip();
        });
    });

    const tooltip = document.querySelector('.tooltip');

    function showTooltip(sectorName, avail, total, status) {
        tooltip.style.display = 'block';
        var statusFullForm = "";
        switch(status) {
            case 'H':
                statusFullForm = "High";
                break;
            case 'M':
                statusFullForm = "Medium";
                break;
            case 'L':
                statusFullForm = "Low";
                break;
            default:
                statusFullForm = "Sold Out";
        }
        var sectNameRefined;
        if (sectorName.substring(0,6).localeCompare("sector") === 0){
            sectNameRefined = sectorName.slice(6);
        } else {
            sectNameRefined = sectorName;
        }
        // console.log(sectNameRefined);
        tooltip.innerHTML = `Sector Name: ` + sectNameRefined + `<br>Seats Left: ${avail}<br>Total: ${total}<br>Availability: ` + statusFullForm;
    }

    function hideTooltip() {
        tooltip.style.display = 'none';
        tooltip.innerHTML = '';
    }
</script>

<!-- Script to change login only pages to specific userId -->
<script th:inline="javascript">
    // JavaScript code to create a dynamic URL
    var userId = /*[[${userId}]]*/ null;
    if (userId != null){
        var shoppingCartLink = document.getElementById("shoppingCartLink");
        shoppingCartLink.href = "/user/" + userId + "/shoppingcart";

        var shoppingCartLink = document.getElementById("myTicketsLink");
        shoppingCartLink.href = "/user/" + userId + "/purchasedtickets";
    }
</script>

</html>

