.header {
    padding: 40px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
  }

  .box {
    padding: 20px;
    text-align: center;
    background: #a1a1a1;
    color: white;
    font-size: 30px;
  }
