<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="aaseattrial.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="aaseatclick.js"></script>
<body>
    <div class="theatre">
        <div class="cinema-seats rows">
            <div class="cinema-row row2">
                <div class="seatUnavail"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seatPend"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="cinema-row row1">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
        </div>
    </div>

    
</body>
</html>