<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="aaseattrial.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="aaseatclick.js"></script>
<body>
    <div class="theatre">
        <div class="cinema-seats rows" id="seating-container">
        </div>
    </div>

    <script>
        fetch('http://localhost:8080/getSectorRowAvailability/1/634')
        .then(response => response.json())
        .then(data => {
            const seatingContainer = document.getElementById('seating-container');

            data.forEach(seatInfo => {
            const [row, seats] = seatInfo.split(':'); // Split the row and seat information
            
            const rowElement = document.createElement('div');
            rowElement.classList.add('cinema-row');
            rowElement.classList.add('row1');
            // console.log([row,seats]);
            for (let i = 0; i < seats.length; i++) {
                const seatElement = document.createElement('div');

                if (seats[i] === 'A')   seatElement.classList.add('seat');
                else if (seats[i] === 'P') seatElement.classList.add('seatPend');
                else                        seatElement.classList.add('seatUnavail');

                rowElement.appendChild(seatElement);
            }

            // Add the row to the container
            seatingContainer.appendChild(rowElement);
            });
        })
        .catch(error => {
            console.error('Error fetching seat data:', error);
        });
    </script>
</body>
</html>

            <!-- <div class="cinema-row row2">
                <div class="seatUnavail"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seatPend"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="cinema-row row1">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div> -->