/* body {
    margin: 60px;
    background: #111;
  }
  
  .theatre {
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cinema-seats {
    display: flex;
    
    .seat {
      cursor: pointer;
      
      &:hover:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 7px;
      }
      
      &.active {}
      
      &.active:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 7px;
      }
    }
  }
  
  
  /*left seats*/

/*left side of the aisle*/
  /*
  .left {
    
    .cinema-row {
      transform: skew(-15deg);
      margin: 0 6px;
    }
  
    .seat {
      width: 35px;
      height: 50px;
      border-radius: 7px;
      background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
      margin-bottom: 10px;
      transform: skew(20deg);
      margin-top: -32px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    }
  
    .row-2 {
      transform: skew(-13deg);
  
      .seat {
        transform: skew(18deg);
      }
    }
  
    .row-3 {
      transform: skew(-12deg);
  
      .seat {
        transform: skew(16deg);
      }
    }
  
    .row-4 {
      transform: skew(-11deg);
  
      .seat {
        transform: skew(15deg);
      }
    }
  
    .row-5 {
      transform: skew(-10deg);
  
      .seat {
        transform: skew(12deg);
      }
    }
  
    .row-6 {
      transform: skew(-9deg);
  
      .seat {
        transform: skew(10deg);
      }
    }
  
    .row-7 {
      transform: skew(-7deg);
  
      .seat {
        transform: skew(8deg);
      }
    } 
  }
*/

  /*right side of the aisle*/
/*
  .right {
    margin-left: 70px;
    
    .cinema-row {
      transform: skew(7deg);
      margin: 0 6px;
    }
  
    .seat {
      width: 35px;
      height: 50px;
      border-radius: 7px;
      background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
      margin-bottom: 10px;
      transform: skew(-8deg);
      margin-top: -32px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    }
    
    .row-2 {
      transform: skew(9deg);
  
      .seat {
        transform: skew(-10deg);
      }
    }
  
    .row-3 {
      transform: skew(10deg);
  
      .seat {
        transform: skew(-12deg);
      }
    }
  
    .row-4 {
      transform: skew(11deg);
  
      .seat {
        transform: skew(-15deg);
      }
    }
  
    .row-5 {
      transform: skew(12deg);
  
      .seat {
        transform: skew(-16deg);
      }
    }
  
    .row-6 {
      transform: skew(13deg);
  
      .seat {
        transform: skew(-18deg);
      }
    }
  
    .row-7 {
      transform: skew(15deg);
  
      .seat {
        transform: skew(-20deg);
      }
    } 
  }
*/


body {
    margin: 60px;
    background: #111;
  }
  
  /*position of the whole theatre*/
  .theatre {
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /*onclick control*/
  .cinema-seats {
    display: flex;
  
    .seat {
      cursor: pointer;
  
      &:hover:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 7px;
      }
  
      &.active {
      }
  
      &.active:before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 7px;
      }
    }
  }
  
  /*Left side of aisle*/ 
  .left {
    .cinema-col {
      /*first column angle*/
      transform: skew(-15deg);
      margin: 0 6px;
    }
  
    .seat {
      width: 35px;
      height: 35px;
      border-radius: 7px;
      background: linear-gradient(
        to top,
        #761818,
        #761818,
        #761818,
        #761818,
        #761818,
        #b54041,
        #f3686a
      );
      margin-bottom: 10px;
      transform: skew(20deg);
      margin-top: -7px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  
    .col-2 {
    /* col 7 overall angle */
      transform: skew(-13deg);
  
      .seat {
        transform: skew(18deg);
      }
    }
  
    .col-3 {
    /* col 7 overall angle */
      transform: skew(-12deg);
  
      .seat {
        transform: skew(16deg);
      }
    }
  
    .col-4 {
    /* col 7 overall angle */
      transform: skew(-11deg);
  
      .seat {
        transform: skew(15deg);
      }
    }
  
    .col-5 {
    /* col 7 overall angle */
      transform: skew(-10deg);
  
      .seat {
        transform: skew(12deg);
      }
    }
  
    .col-6 {
    /* col 7 overall angle */
      transform: skew(-9deg);
  
      .seat {
        transform: skew(10deg);
      }
    }
  
    .col-7 {
        /* col 7 overall angle */
      transform: skew(-7deg);
  
      /* col 7 seat angle */
      .seat {
        transform: skew(8deg);
      }
    }
  }
  
  /*right side of the aisle*/ 
  .right {
    /*aisle gap*/
    margin-left: 25px;
  
    /*angle of the column*/
    .cinema-col {
      transform: skew(7deg);
      
      /*gap between seats*/
      margin: 0 6px;
    }
  
    /*seat size config*/
    .seat {
      /*chair cushion size*/
      width: 35px;
      /*seat height*/
      height: 35px;
      /*seat corners roundness*/
      border-radius: 7px;
      /*colour of seat*/
      background: linear-gradient(
        to top,
        #761818,
        #761818,
        #761818,
        #761818,
        #761818,
        #b54041,
        #f3686a
      );
      /*gap from the front seat ()*/
      margin-bottom: 10px;
      /*angle of seat relative to the screen*/
      transform: skew(-8deg);
      /*gap from front seat ()*/
      margin-top: -7px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  
    /*second column angle*/
    .col-2 {
      transform: skew(9deg);
  
      .seat {
        transform: skew(-10deg);
      }
    }
  
    .col-3 {
      transform: skew(10deg);
  
      .seat {
        transform: skew(-12deg);
      }
    }
  
    .col-4 {
      transform: skew(11deg);
  
      .seat {
        transform: skew(-15deg);
      }
    }
  
    .col-5 {
      transform: skew(12deg);
  
      .seat {
        transform: skew(-16deg);
      }
    }
  
    .col-6 {
      transform: skew(13deg);
  
      .seat {
        transform: skew(-18deg);
      }
    }
  
    .col-7 {
      transform: skew(15deg);
  
      .seat {
        transform: skew(-20deg);
      }
    }
  }
  