<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title> TTTicket &mdash; Login </title>
    <link rel="stylesheet" href="css/style_login.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="login" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type='text' name='username' value='' required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type='password' name='password'  >
          </div>
        </div>
        <div class="button">
          <input name="submit" type="submit" value="submit">
        </div>
      </form>
      <a th:href="@{/register}">Don't have an account? Sign up here</a>
    </div>
  </div>

</body>

</html>
