<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="css/style_register.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="save" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text"  placeholder="Enter your name" required name = "username">
          </div>
          <div th:if="${error}" style="color: red" th:text="${error}"></div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text"  placeholder="Enter your address" required name = "address" > 
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text"  placeholder="Enter your email" required name = "emailAddress" >
          </div>
          <div class="input-box">
            <span class="details">Birthday</span>
            <input type="text" placeholder="Enter your date of birth" required name = "birthday">
          </div>
          <div class="input-box">
            <span class="details">Enter Password</span>
            <input type="password" placeholder="Enter your password" required id="password"  name = "password">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" required name = "password">
          </div>
        </div>
        <input type="hidden" name="authorities" value="ROLE_USER">
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>

      <a th:href="@{/index}"> Back to Homepage</a>
    </div>
  </div>

</body>
</html>