<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" type="text/css" href="/fonts/feather/style.css">

	<link rel="stylesheet" type="text/css" href="/css/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="/css/aos.css">
	<link rel="stylesheet" type="text/css" href="/css/glightbox.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sector-related/style-shortened.css">
    <link rel="stylesheet" type="text/css" href="/css/ticket-carted/containers.css">
    <title>Ticket added to Cart!</title>
</head>

<body style="background-color:black;">
    <div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>
    <nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/../../../../index" class="logo m-0">TTTicket</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li><a href="/../../../../index">Home</a></li>
					<li class="has-children">
						<a href="#">Dropdown</a>
						<ul class="dropdown">
							<li><a href="#">Menu One</a></li>
							<li class="has-children">
								<a href="#">Menu Two</a>
								<ul class="dropdown">
									<li><a href="#">Sub Menu One</a></li>
									<li><a href="#">Sub Menu Two</a></li>
									<li><a href="#">Sub Menu Three</a></li>
								</ul>
							</li>
							<li><a href="#">Menu Three</a></li>
						</ul>
					</li>
					<li><a href="/../../../../services">Services</a></li>
					<li><a href="/../../../../portfolio">Portfolio</a></li>
					<li><a href="/../../../../about">About</a></li>
					<li><a href="/../../../../contact">Contact</a></li>
					<li><a href="/../../../../shoppingcart">Shopping Cart</a></li>
					<li><a href="/../../../../login">Login/Signup</a></li>
				</ul>

				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>
    <div>
        <!-- <h1>Concert Details</h1> -->
        <p>Concert ID: <span th:text="${concertId}"></span></p>
        <p>Sector Name: <span th:text="${sectorName}"></span></p>
        <p>Selected Seats: <span th:text="${selectedSeats}"></span></p>
    </div>

    <div class="button-container">
        <button id="confirm-button">Confirm Selection</button>
        <div id="selected-seats-message" style="display: none;"></div>
        <button id="final-confirm-button" style="display: none;">Final Confirm?</button>
        <button id="cancel-button" style="display: none;">Cancel</button>
    </div>
</body>
</html>