<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <body style="background-color:black;">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" type="text/css" href="/fonts/feather/style.css">

	<link rel="stylesheet" type="text/css" href="/css/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="/css/aos.css">
	<link rel="stylesheet" type="text/css" href="/css/glightbox.min.css">
	<link rel="stylesheet" type="text/css" href="/css/sector-related/style-shortened.css">
    <link rel="stylesheet" type="text/css" href="/css/sector-related/sectorImageSizing2.css">
	<title>TTTicket &mdash; Select Sector</title>
</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/../../index" class="logo m-0">TTTicket</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li><a href="/../../index">Home</a></li>
					<li class="has-children">
						<a href="#">Dropdown</a>
						<ul class="dropdown">
							<li><a href="#">Menu One</a></li>
							<li class="has-children">
								<a href="#">Menu Two</a>
								<ul class="dropdown">
									<li><a href="#">Sub Menu One</a></li>
									<li><a href="#">Sub Menu Two</a></li>
									<li><a href="#">Sub Menu Three</a></li>
								</ul>
							</li>
							<li><a href="#">Menu Three</a></li>
						</ul>
					</li>
					<li><a href="/../../services">Services</a></li>
					<li><a href="/../../marketplace">Marketplace</a></li>
					<li><a href="/user/2/purchasedtickets">My Tickets</a></li>
					<li><a href="/user/2/shoppingcart">Shopping Cart</a></li>
					<li><a href="/../../login">Login/Signup</a></li>
				</ul>

				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!-- Maphighlight Script -->
<script type="text/javascript" src="/js/sector-related/jquery.maphilight.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/davidjbradshaw/imagemap-resizer/master/js/imageMapResizer.min.js"></script>

<div class="tooltip-container">
    <div class="tooltip"></div>
</div>

<body>
    <div class="center-container">
        <img th:src="@{/seating_plan/Coldplay_Seat_Map.png}" id="image" usemap="#image-map" class="maparea img-border" height="100%" >
    </div>
    <!-- sectors are grouped by their proximity. if they
    are closely next to each other, they are in the same group.
    group layout here: todo -->
    <map name="image-map" id="image-map">
    </map>

    <!-- <h3 th:text="${sector634status}">Concert Name</h3> -->
    
</body>

<script>
    // Select all <area> elements on the page
    var areaElements = document.querySelectorAll('area');

    // Create an array to store the titles
    var sectorAvailPercentArray = [];

    // Iterate through the <area> elements and add their titles to the array
    areaElements.forEach(function(areaElement) {
        sectorAvailPercentArray.push({
            sectorName: areaElement.getAttribute('title'),
            sectorStatus: areaElement.getAttribute('alt')
        });
    });


    $(function() {
        $('.maparea').maphilight({}, sectorAvailPercentArray);
        $('#yourImageMap area').on('mouseover', function() {
            // Update options.sectorName here
            options.sectorName = $(this).attr('title');
        });
    });
    $(function() {
        $('#image-map').imageMapResize();
    });

    // Function to adjust image map coordinates
    function adjustImageMapCoordinates() {
        // Get a reference to the image element
        var image = document.getElementById('image');
    
        // Get the actual width and height of the image
        var imageWidth = image.width;
        var imageHeight = image.height;
    
        // Get all the area elements
        var areas = document.querySelectorAll('area');
    
        // Loop through each area and adjust the coordinates
        areas.forEach(function(area) {
            var coords = area.getAttribute('coords').split(',').map(Number);
    
            // Calculate the scaling factors for width and height
            var widthScale = imageWidth / image.naturalWidth;
            var heightScale = imageHeight / image.naturalHeight;
    
            // Adjust the coordinates based on the scaling factors
            for (var i = 0; i < coords.length; i += 2) {
                coords[i] = Math.round(coords[i] * widthScale);
                coords[i + 1] = Math.round(coords[i + 1] * heightScale);
            }
    
            // Set the adjusted coordinates back to the area element
            area.setAttribute('coords', coords.join(','));
        });
    }

    // Call the adjustImageMapCoordinates function when the window loads and when it resizes
    window.addEventListener('load', adjustImageMapCoordinates);
    window.addEventListener('resize', adjustImageMapCoordinates);

</script>

<script th:inline="javascript">
const sName = 'sector634';
const attributeName = sName + 'avail';
const map = /*[[${attributeMap}]]*/ 'N/A';
console.log(map[attributeName]);

    const areas = document.querySelectorAll('area');
    // Add event listeners to each area
    areas.forEach((area) => {
        area.addEventListener('mouseover', (event) => {
            const sectorName = event.target.getAttribute('title');
            const availability = parseInt(map[sectorName + 'avail']);
            // Find the corresponding attributes in the model based on sectorName
            const total = parseInt(map[sectorName + 'total']);
            const status = map[sectorName + 'status'];

            showTooltip(sectorName, availability, total, status);
        });

        area.addEventListener('mouseout', () => {
            hideTooltip();
        });
    });

    const tooltip = document.querySelector('.tooltip');

    function showTooltip(sectorName, avail, total, status) {
        tooltip.style.display = 'block';
        var statusFullForm = "";
        switch(status) {
            case 'H':
                statusFullForm = "High";
                break;
            case 'M':
                statusFullForm = "Medium";
                break;
            case 'L':
                statusFullForm = "Low";
                break;
            default:
                statusFullForm = "Sold Out";
        }
        var sectNameRefined = sectorName.slice(6);
        console.log(sectNameRefined);
        tooltip.innerHTML = `Sector Name: ` + sectNameRefined + `<br>Seats Left: ${avail}<br>Total: ${total}<br>Availability: ` + statusFullForm;
    }

    function hideTooltip() {
        tooltip.style.display = 'none';
        tooltip.innerHTML = '';
    }
</script>

    

</html>

