<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <body style="background-color:black;">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" type="text/css" href="/fonts/feather/style.css">

	<link rel="stylesheet" type="text/css" href="/css/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="/css/aos.css">
	<link rel="stylesheet" type="text/css" href="/css/glightbox.min.css">
	<link rel="stylesheet" type="text/css" href="/css/sector-related/style-shortened.css">
    <link rel="stylesheet" type="text/css" href="/css/sector-related/sectorImageSizing2.css">
	<title>TTTicket &mdash; Select Sector</title>
</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/../../index" class="logo m-0">TTTicket</a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li><a href="/../../index">Home</a></li>
					<li class="has-children">
						<a href="#">Dropdown</a>
						<ul class="dropdown">
							<li><a href="#">Menu One</a></li>
							<li class="has-children">
								<a href="#">Menu Two</a>
								<ul class="dropdown">
									<li><a href="#">Sub Menu One</a></li>
									<li><a href="#">Sub Menu Two</a></li>
									<li><a href="#">Sub Menu Three</a></li>
								</ul>
							</li>
							<li><a href="#">Menu Three</a></li>
						</ul>
					</li>
					<li><a href="/../../services">Services</a></li>
					<li><a href="/../../marketplace">Marketplace</a></li>
					<li><a href="/user/2/purchasedtickets">My Tickets</a></li>
					<li><a href="/user/2/shoppingcart">Shopping Cart</a></li>
					<li><a href="/../../login">Login/Signup</a></li>
				</ul>

				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Maphighlight Script -->
<script type="text/javascript" src="/js/sector-related/jquery.maphilight.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/davidjbradshaw/imagemap-resizer/master/js/imageMapResizer.min.js"></script>

<div class="tooltip-container">
    <div class="tooltip"></div>
</div>

<body>
    <div class="center-container">
        <img th:src="@{/seating_plan/Coldplay_Seat_Map.png}" id="image" usemap="#image-map" class="maparea img-border" height="100%" >
    </div>
    <!-- sectors are grouped by their proximity. if they
    are closely next to each other, they are in the same group.
    group layout here: todo -->
    <map name="image-map" id="image-map">
        <!-- Group 1 - Sectors 635 to 645 -->
        <area target="_self" th:alt="${sector635status}" title="sector635" href="/concerts/2/sectorLayout/selectSeat/635" coords="553,37,475,71,550,124,620,85" shape="poly">
        <area target="_self" th:alt="${sector636status}" title="sector636" href="" coords="475,69,399,105,482,162,547,129" shape="poly">
        <area target="_self" th:alt="${sector637status}" title="sector637" href="" coords="401,109,326,148,417,205,479,165" shape="poly">
        <area target="_self" th:alt="${sector638status}" title="sector638" href="" coords="328,151,262,197,344,247,405,200" shape="poly">
        <area target="_self" th:alt="${sector639status}" title="sector639" href="" coords="255,196,201,244,297,291,352,252" shape="poly">
        <area target="_self" th:alt="${sector640status}" title="sector640" href="" coords="202,245,155,297,242,339,295,294" shape="poly">
        <area target="_self" th:alt="${sector641status}" title="sector641" href="" coords="150,300,110,349,188,384,243,342" shape="poly">
        <area target="_self" th:alt="${sector642status}" title="sector642" href="" coords="105,349,71,412,146,431,187,386" shape="poly">
        <area target="_self" th:alt="${sector643status}" title="sector643" href="" coords="74,413,52,467,118,481,146,433" shape="poly">
        <area target="_self" th:alt="${sector644status}" title="sector644" href="" coords="52,470,39,528,94,531,111,481" shape="poly">
        <area target="_self" th:alt="${sector645status}" title="sector645" href="" coords="40,531,88,532,87,578,37,578" shape="poly">

        <!-- Group 2 - Sectors 435 to 446 -->
        <area target="" alt="sector435" title="sector435" href="" coords="641,97,678,126,675,139,618,169,575,131" shape="poly">
        <area target="" alt="sector436" title="sector436" href="" coords="620,169,553,205,510,170,573,134" shape="poly">
        <area target="" alt="sector437" title="sector437" href="" coords="552,205,486,244,437,209,504,169" shape="poly">
        <area target="" alt="sector438" title="sector438" href="" coords="488,244,428,285,376,250,434,209" shape="poly">
        <area target="" alt="sector439" title="sector439" href="" coords="428,285,372,331,318,299,376,250" shape="poly">
        <area target="" alt="sector440" title="sector440" href="" coords="369,331,327,371,266,344,317,300" shape="poly">
        <area target="" alt="sector441" title="sector441" href="" coords="321,371,272,416,211,392,265,342" shape="poly">
        <area target="" alt="sector442" title="sector442" href="" coords="275,416,240,454,171,440,210,395" shape="poly">
        <area target="" alt="sector443" title="sector443" href="" coords="239,455,207,506,139,489,165,437" shape="poly">
        <area target="" alt="sector444" title="sector444" href="" coords="202,503,188,545,118,540,134,490" shape="poly">
        <area target="" alt="sector445" title="sector445" href="" coords="187,548,181,577,111,583,117,540" shape="poly">
        <area target="" alt="sector446" title="sector446" href="" coords="179,583,182,628,116,637,113,589" shape="poly">


        <!-- Group 3 - Sectors to 135 to 144B -->
        <area target="" alt="sector135" title="sector135" href="" coords="689,145,764,206,764,217,711,245,631,181" shape="poly">
        <area target="" alt="sector136" title="sector136" href="" coords="709,246,656,278,567,214,625,178" shape="poly">
        <area target="" alt="sector137" title="sector137" href="" coords="656,281,608,310,515,247,566,215" shape="poly">
        <area target="" alt="sector138" title="sector138" href="" coords="605,310,591,326,546,303,537,309,578,332,553,347,457,287,514,248" shape="poly">
        <area target="" alt="sector139" title="sector139" href="" coords="553,347,510,381,407,331,454,289" shape="poly">
        <area target="" alt="sector140" title="sector140" href="" coords="510,386,460,420,356,371,404,331" shape="poly">
        <area target="" alt="sector141" title="sector141" href="" coords="459,422,420,460,307,413,347,373" shape="poly">
        <area target="" alt="sector142" title="sector142" href="" coords="414,461,397,481,273,452,302,413" shape="poly">
        <area target="" alt="sector144A" title="sector144A" href="" coords="311,491,307,509,243,506,249,480" shape="poly">
        <area target="" alt="sector144B" title="sector144B" href="" coords="284,545,284,555,223,552,221,539" shape="poly">

        <!-- Group 4 - Sectors to 145 to 106 -->
        <area target="" alt="sector145" title="sector145" href="" coords="356,562,353,580,214,593,221,561" shape="poly">
        <area target="" alt="sector146" title="sector146" href="" coords="356,583,353,606,220,626,214,594" shape="poly">
        <area target="" alt="sector147" title="sector147" href="" coords="352,607,359,628,231,659,218,628" shape="poly">
        <area target="" alt="sector148" title="sector148" href="" coords="362,628,376,648,240,688,224,658" shape="poly">
        <area target="" alt="sector149" title="sector149" href="" coords="375,649,388,662,265,722,237,693" shape="poly">
        <area target="" alt="sector150" title="sector150" href="" coords="388,665,402,680,344,712,349,720,300,755,266,725" shape="poly">
        <area target="" alt="sector101" title="sector101" href="" coords="399,741,352,780,395,800,481,719,463,709,414,746" shape="poly">
        <area target="" alt="sector102" title="sector102" href="" coords="394,801,447,816,507,728,482,720" shape="poly">
        <area target="" alt="sector103" title="sector103" href="" coords="447,819,498,823,541,732,508,726" shape="poly">
        <area target="" alt="sector104" title="sector104" href="" coords="543,730,576,733,552,825,502,823" shape="poly">
        <area target="" alt="sector105" title="sector105" href="" coords="559,823,612,825,611,730,575,732" shape="poly">
        <area target="" alt="sector106" title="sector106" href="" coords="614,729,647,725,670,813,617,825" shape="poly">

        <!-- Group 5 - Sectors to 107A to 116 -->
        <area target="" alt="sector107A" title="sector107A" href="" coords="649,723,665,719,695,809,673,819" shape="poly">
        <area target="" alt="sector107B" title="sector107B" href="" coords="735,710,764,796,798,788,756,702" shape="poly">
        <area target="" alt="sector109" title="sector109" href="" coords="791,691,851,767,902,745,822,670" shape="poly">
        <area target="" alt="sector110" title="sector110" href="" coords="880,642,960,709,903,744,827,674" shape="poly">
        <area target="" alt="sector111" title="sector111" href="" coords="928,610,880,639,966,709,1021,674" shape="poly">
        <area target="" alt="sector112" title="sector112" href="" coords="1027,674,1083,638,985,575,935,610" shape="poly">
        <area target="" alt="sector113" title="sector113" href="" coords="1083,633,986,575,1034,541,1135,599" shape="poly">
        <area target="" alt="sector114" title="sector114" href="" coords="1040,541,1137,599,1193,558,1083,506" shape="poly">
        <area target="" alt="sector115" title="sector115" href="" coords="1193,554,1082,503,1129,467,1241,516" shape="poly">
        <area target="" alt="sector116" title="sector116" href="" coords="1170,425,1131,466,1240,515,1289,471" shape="poly">

        <!-- Group 6 - Sectors to 405 to 416 -->
        <area target="" alt="sector405" title="sector405" href="" coords="575,829,565,884,630,883,631,828" shape="poly">
        <area target="" alt="sector406" title="sector406" href="" coords="636,829,631,880,715,870,704,817" shape="poly">
        <area target="" alt="sector407" title="sector407" href="" coords="708,822,717,870,795,854,769,803" shape="poly">
        <area target="" alt="sector408" title="sector408" href="" coords="773,804,795,851,870,830,837,783" shape="poly">
        <area target="" alt="sector409" title="sector409" href="" coords="841,784,867,830,938,797,897,756" shape="poly">
        <area target="" alt="sector410" title="sector410" href="" coords="898,755,938,796,1018,751,973,716" shape="poly">
        <area target="" alt="sector411" title="sector411" href="" coords="974,712,1015,751,1079,714,1032,677" shape="poly">
        <area target="" alt="sector412" title="sector412" href="" coords="1083,714,1148,675,1095,642,1037,676" shape="poly">
        <area target="" alt="sector413" title="sector413" href="" coords="1095,640,1144,676,1208,630,1153,598" shape="poly">
        <area target="" alt="sector414" title="sector414" href="" coords="1264,588,1209,627,1154,598,1206,556" shape="poly">
        <area target="" alt="sector415" title="sector415" href="" coords="1321,543,1263,589,1212,556,1263,514" shape="poly">
        <area target="" alt="sector416" title="sector416" href="" coords="1373,492,1321,543,1263,513,1302,471" shape="poly">

        <!-- Group 7 - Sectors to 606 to 616 -->
        <area target="" alt="sector606" title="sector606" href="" coords="675,891,675,931,747,925,735,885" shape="poly">
        <area target="" alt="sector607" title="sector607" href="" coords="741,885,751,923,837,911,815,865" shape="poly">
        <area target="" alt="sector608" title="sector608" href="" coords="890,839,927,889,838,908,817,862" shape="poly">
        <area target="" alt="sector609" title="sector609" href="" coords="896,841,935,885,1019,860,961,804" shape="poly">
        <area target="" alt="sector610" title="sector610" href="" coords="971,806,1029,769,1105,824,1025,860" shape="poly">
        <area target="" alt="sector611" title="sector611" href="" coords="1100,724,1031,769,1106,827,1187,788" shape="poly">
        <area target="" alt="sector612" title="sector612" href="" coords="1164,685,1105,724,1184,786,1251,746" shape="poly">
        <area target="" alt="sector613" title="sector613" href="" coords="1177,691,1253,744,1325,698,1237,650" shape="poly">
        <area target="" alt="sector614" title="sector614" href="" coords="1228,644,1321,697,1387,650,1283,600" shape="poly">
        <area target="" alt="sector615" title="sector615" href="" coords="1286,600,1384,647,1432,598,1339,555" shape="poly">
        <area target="" alt="sector616" title="sector616" href="" coords="1345,555,1431,598,1476,539,1389,508" shape="poly">

        <!-- Group 8 - General Standing -->
        <area target="_self" th:alt="${sectorGeneral_Standingstatus}" title="sectorGeneral_Standing" href="/concerts/2/sectorLayout/selectSeat/General_Standing" coords="802,288,889,335,883,370,811,419,796,419,786,423,776,429,773,439,776,446,782,451,791,455,807,457,817,452,830,446,837,435,841,423,912,375,947,367,1033,413,1036,425,707,652,691,658,672,665,649,669,627,674,608,674,588,675,567,672,544,669,525,662,508,655,492,645,478,635,469,622,459,609,456,594,453,580,454,565,457,551,464,536,472,525,482,514" shape="poly">
    </map>

    <!-- <h3 th:text="${sector634status}">Concert Name</h3> -->
    
</body>

<script>
    // Select all <area> elements on the page
    var areaElements = document.querySelectorAll('area');

    // Create an array to store the titles
    var sectorAvailPercentArray = [];

    // Iterate through the <area> elements and add their titles to the array
    areaElements.forEach(function(areaElement) {
        sectorAvailPercentArray.push({
            sectorName: areaElement.getAttribute('title'),
            sectorStatus: areaElement.getAttribute('alt')
        });
    });


    $(function() {
        $('.maparea').maphilight({}, sectorAvailPercentArray);
        $('#yourImageMap area').on('mouseover', function() {
            // Update options.sectorName here
            options.sectorName = $(this).attr('title');
        });
    });
    $(function() {
        $('#image-map').imageMapResize();
    });

    // Function to adjust image map coordinates
    function adjustImageMapCoordinates() {
        // Get a reference to the image element
        var image = document.getElementById('image');
    
        // Get the actual width and height of the image
        var imageWidth = image.width;
        var imageHeight = image.height;
    
        // Get all the area elements
        var areas = document.querySelectorAll('area');
    
        // Loop through each area and adjust the coordinates
        areas.forEach(function(area) {
            var coords = area.getAttribute('coords').split(',').map(Number);
    
            // Calculate the scaling factors for width and height
            var widthScale = imageWidth / image.naturalWidth;
            var heightScale = imageHeight / image.naturalHeight;
    
            // Adjust the coordinates based on the scaling factors
            for (var i = 0; i < coords.length; i += 2) {
                coords[i] = Math.round(coords[i] * widthScale);
                coords[i + 1] = Math.round(coords[i + 1] * heightScale);
            }
    
            // Set the adjusted coordinates back to the area element
            area.setAttribute('coords', coords.join(','));
        });
    }

    // Call the adjustImageMapCoordinates function when the window loads and when it resizes
    window.addEventListener('load', adjustImageMapCoordinates);
    window.addEventListener('resize', adjustImageMapCoordinates);

</script>

<!-- Script to get sector details for tooltip -->
<script th:inline="javascript">
const sName = 'sector635';
const attributeName = sName + 'avail';
const map = /*[[${attributeMap}]]*/ 'N/A';
// console.log(map[attributeName]);

    const areas = document.querySelectorAll('area');
    // Add event listeners to each area
    areas.forEach((area) => {
        area.addEventListener('mouseover', (event) => {
            const sectorName = event.target.getAttribute('title');
            const availability = parseInt(map[sectorName + 'avail']);
            // Find the corresponding attributes in the model based on sectorName
            const total = parseInt(map[sectorName + 'total']);
            const status = map[sectorName + 'status'];

            showTooltip(sectorName, availability, total, status);
        });

        area.addEventListener('mouseout', () => {
            hideTooltip();
        });
    });

    const tooltip = document.querySelector('.tooltip');

    function showTooltip(sectorName, avail, total, status) {
        tooltip.style.display = 'block';
        var statusFullForm = "";
        switch(status) {
            case 'H':
                statusFullForm = "High";
                break;
            case 'M':
                statusFullForm = "Medium";
                break;
            case 'L':
                statusFullForm = "Low";
                break;
            default:
                statusFullForm = "Sold Out";
        }
        var sectNameRefined;
        if (sectorName.substring(0,6).localeCompare("sector") === 0){
            sectNameRefined = sectorName.slice(6);
        } else {
            sectNameRefined = sectorName;
        }
        // console.log(sectNameRefined);
        tooltip.innerHTML = `Sector Name: ` + sectNameRefined + `<br>Seats Left: ${avail}<br>Total: ${total}<br>Availability: ` + statusFullForm;
    }

    function hideTooltip() {
        tooltip.style.display = 'none';
        tooltip.innerHTML = '';
    }
</script>

    

</html>

